* {
  margin: 0;
  box-sizing: border-box;
}
.home_container {
  display: grid;
  row-gap: 5em;
  column-gap: 5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: auto auto auto;
  background: #ffffff;
  padding: 10px 80px;
}
.home_container1 {
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}
